<%- include('partials/header')%>
<div class="d-flex flex-row justify-content-center align-items-center">
    <h1>OPPSss.....Login Failed</h1>
</div>
<div class="d-flex flex-row justify-content-center align-items-center">
    <a href="/">HOME</a> &nbsp;&nbsp;
    <a href="/login">LOGIN</a> &nbsp;&nbsp;
    <a href="/register">SIGNUP</a> &nbsp;&nbsp;
</div>




<style>
    body {
        background-color: rgb(225, 231, 188);
    }
</style>
<%- include('partials/footer')%>